body {
  background: #eeeeee;
  font-family: 'Balsamiq Sans', cursive;
}

#main h1{
  color: #111;
  text-align: center;
}

#main {
  padding: 0px;
  display: grid;
  grid-template-columns:1fr 2fr;
  justify-content: stretch;   
  align-content: stretch;  
}

#result h1{
  color: #fff
}

#result{
  background: #0b4f6c;
  padding: 10px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0,0,0,0.3);
  color: #fff;
  height:100%;
  min-width: 200px;
  max-height: 95vh;
}

#input{

}

.bold{
  font-weight: 600;
}

form .field{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:10px;
}

form #lb1, textarea{
  grid-column: 1 / span 2;
  font-size: 20px;
  width: 98.5%;
}

form textarea{
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  height:40vh;

}

form #lb2, input{
  margin-right: 10px;
  height: auto;
  font-size: 20px;
}

form input{
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}

form button{
  color: #fff;
  font-size: 2em;
  background: #0b4f6c;
  border: 1px solid #072c3b;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  grid-column: 1 / span 2;
  font-family: 'Balsamiq Sans', cursive;
  width: 99%;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}

/* Result CSS */

#result ol li{
  margin: 10px 10px 10px 10px;
}

#result ul li{
  margin: 0;
}